@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    box-sizing: border-box;
}

.navbar-brand {
    font-family: 'Roboto', sans-serif;
    color: #dc3545 !important;
    font-weight: bold;
    font-size: 24px;
}

.word{
    color:aquamarine
}

.word1{
    color:teal;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-weight: bold;
}

.brand-section {
    position: relative;
    color:green;
    text-align: center;
    padding: 100px 0;
    background-image: url("pexels-catscoming-674574.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
