@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    box-sizing: border-box;
}

body {
    background-image: url("pexels-catscoming-674574.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 145vh;
}


.navbar-brand {
    font-family: 'Roboto', sans-serif;
    color: #dc3545 !important;
    font-weight: bold;
    font-size: 24px;
}

.word{
    color:aquamarine;
}

.word1{
    color:rgb(221, 127, 127);
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-weight: bold;
    margin-top: 20px;
}

.brand-section {
    position: relative;
    color:green;
    text-align: center;
    padding: 100px 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: aliceblue;
  }
  
  .card-title {
    color: #333;
  }
  
  .card-text {
    color: #666;
  }
  
  .btn-primary {
    background-color:burlywood ;
    border-color:tan;
  }
  
  .btn-primary:hover {
    background-color:rebeccapurple;
    border-color: #0062cc;
  }