@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    box-sizing: border-box;
}

.navbar-brand {
    font-family: 'Roboto', sans-serif;
    color: #dc3545 !important;
    font-weight: bold;
    font-size: 24px;
}

.img{
    display: flex; 
    flex-direction: row;
    height: 95vh;
    width:min-content;
    overflow: hidden;
}